{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Create a Post
{% endblock %}

{% block body %}

  <div class="container">
  <h1 class="text-center">Post your bad takes here</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="my-3">
            <button type="reset" class="btn btn-danger">Discard</button>
            <button type="submit" class="btn btn-primary">Post</button>
        </div>

    </form>
  </div>



{% endblock %}




